/* Main */

#main-home
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

section {
    width: 100%;
    height: 350px;
    margin-bottom: 80px;
    background-color: #fff;
    padding: 40px 140px;
}
/* Caroussel-container */
.section-portfolio-home { 
    background-color: #000; 
    border: solid 3px #fff;
    position: relative;
}

.caroussel {
    position: absolute;
    top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 250px;
    overflow: hidden;
}

/* Caroussel-images */
.portfolio-caroussel {
    display: flex;
    position: absolute;
    top: 15%;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

/* Caroussel-image */
.caroussel-images {
    box-sizing: border-box;
    padding: 10px;
    flex: 0 0 20%;
}

.caroussel-images img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    aspect-ratio: 1 / 1;
    /* cursor: pointer; */
}

.caroussel-images:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    /* cursor: pointer; */
}

p {
    height: 70px;
    font-family: "lora";
    font-size: 20px;
    margin-top: 20px;
}

h1 {
    font-family: "bodoni";
    text-align: center;
    font-size: 40px;
}

.accueil {
    color: #a02c2c;
    font-size: 0;
}

h2, h4 {
    margin-top: 40px;
    font-size: 28px;
}

h2 {
    text-align: center;
}

.blog-contact {
    text-align: center;
}
