/* Container principal */

.container {
    width: 95%;
    margin: auto;
    overflow: hidden;
}

header, footer {
    background: #000;
    color: #fff;
    padding: 10px 0;
}

header {
    position: relative;
    height: 94vh;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

/* Header */
.header-site {
    padding: 0;
}

/* Menu de Navigation */

.nav-menu {
    margin: 0;
    padding: 0;
    height: 80px;
}

.header-nav {
    background-color: #000;
    font-family: "playfair";
    letter-spacing: 0.5px;
    font-size: 20px;
    color: #fff;
    margin: 0;
    padding: 0 24px;
    height: 80px;
    display: flex;
    list-style-type: none;
    display: inline-block;
    white-space: nowrap;
}

/* .nav-list {
    display: flex;
} */
.nav-list ul {
    list-style-type: none;
    height: 80px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list li {
    margin: 0 10px;
    position: relative;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    transition: background-color 0.3 ease ;
}

.nav-item a:hover {
    /* background-color: #a02c2c; */
    /* padding: 70px 40px; */
    /* width: 500px; */
    box-sizing: border-box;
}

.nav-list .tel:hover {
    background-color: #000;
}

.separateur {
    color: #a02c2c;
    font-size: 50px;
    padding-bottom: 10px;
}

/* Style de Survol */

.nav-item:hover {
    background-color: #a02c2c;
    padding: 24px 40px;
    /* margin-right: 20px;
    margin-left: 20px; */
    display: inline-block;
    white-space: nowrap;
}

/* Enlever les marges des séparateurs avant et après l'élément survolé */
/* .nav-item:hover ~ li .separateur,
.nav-item:hover + .separateur {
    margin: 0; Enlève la marge des séparateurs adjacents
}

Enlever les marges des séparateurs avant et après l'élément actif
.nav-link.active + .separateur,
.nav-item .nav-link.active:hover + .separateur,
.nav-item:hover .separateur {
    margin: 0; Enlève la marge des séparateurs autour de l'élément actif
}

.nav-link.active {
    background-color: yellow;
} */

/* .nav-list li:hover a,
.separateur:hover {
    
} */

/* Bannière */

.header-banner {
    width: auto;
    flex-grow: 1;
    background-image: url(../img/designer.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0;
}

.banner-content {
    background-color: #fff;
    width: 50%;
    height: 54%;
    position: absolute;
    top: 80px;
    box-shadow: 1px 8px 10px #000;
}

.banner-logo,
.valeurs-logo {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    }

.banner-logo img,
.valeurs-logo img {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 70px;
    left: 0;
    object-fit: cover;
    object-position: center;
}

.banner-slogan {
    position: absolute;
    background-color: #a02c2c;
    width: 100%;
    height: 40%;
    bottom: 0;
}

.banner-slogan p {
    font-family: "lora";
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 0 140px;
}

/* Footer */

footer {
    position: relative;
    align-items: center;
    height: 30vh;
    display: flex;
}

.footer-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "playfair";
    font-size: 20px;
    letter-spacing: 0.5px;
    margin: 0;
    position: absolute;
    margin: 0 0 0 440px;
}

.footer-list {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.footer-list ul {
    height: 80px;
    margin: 0;
    padding: 0;
}

.footer-list li {
    margin: 0 10px;
    position: relative;
}

.footer-list a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    transition: background-color 0.3 ease ;
}

.footer-list a:hover,
.footer-list i:hover {
    color: #a02c2c;
}

.infos-entreprise {
    font-size: 15px;
    margin-top: 20px;
}

.crop-container {
    width: 500px;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin-right: 800px;
}

.crop-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
