/* Main */

.container-portfolio {
    display: flex;
    flex-direction: column;
}

#section-valeurs {
    display: flex;
    margin-top: 80px;
    height: auto;
    margin-bottom: 0;
}

#section-portfolio {
    margin-bottom: 0;
    height: auto;
}

#section-portfolio-devis {
    height: auto;
}

.valeurs-content {
    width: 50%;
    height: 54%;
    position: absolute;
    left: 23%;
    top: 725px;
}

.valeurs-slogan {
    font-weight: bold;
}

.valeurs-slogan p {
    font-size: 32px;
    margin-top: 50px;
}

.psa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-psa {
    margin-top: 150px;
}

.portfolio-h3 {
    font-weight: bold;
    font-size: 64px;
    font-family: "bodoni mt";
}

.portfolio-p {
    font-weight: bold;
    font-size: 40px;
    font-family: "bodoni mt";
}

#section-portfolio-devis {
    text-align: center;
}

/* Mosaique */
.portfolio-mosaique {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.caroussel-image {
    width: calc(33.33% - 10px);
    overflow: hidden;
    position: relative;
    display: block;
    cursor: pointer;
    box-sizing: border-box;
}

.caroussel-image img {
    height: auto;
    width: 100%;
    display: block;
    transition: transform ease-in-out 0.5s;
}

.caroussel-image:hover {
    transform: scale(1.1);
}

.rotate {
    transform: rotate(90deg);
}

.rotate:hover {
    transform: rotate(90deg) scale(1.1);
}

.livre {
    width: 430px;
    height: auto;
}
