/************************************************************************************************************************/
/****************************************************** Index page ******************************************************/
/************************************************************************************************************************/

/* Main */

#main-home
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

section {
    width: 100%;
    height: 350px;
    margin-bottom: 80px;
    background-color: #fff;
    padding: 40px 140px;
}

/* Caroussel-container */
.section-portfolio-home { 
    background-color: #000; 
    border: solid 3px #fff;
    position: relative;
}

.caroussel {
    position: absolute;
    top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 250px;
    overflow: hidden;
}

/* Caroussel-images */
.portfolio-caroussel {
    display: flex;
    position: absolute;
    top: 15%;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

/* Caroussel-image */
.caroussel-images {
    box-sizing: border-box;
    padding: 10px;
    flex: 0 0 20%;
}

.caroussel-images img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    aspect-ratio: 1 / 1;
    /* cursor: pointer; */
}

.caroussel-images:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    /* cursor: pointer; */
}


p {
    height: 70px;
    font-family: "lora";
    font-size: 20px;
    margin-top: 20px;
}

h1 {
    font-family: "bodoni";
    text-align: center;
    font-size: 40px;
}

.accueil {
    color: #a02c2c;
    font-size: 0;
}

h2, h4 {
    margin-top: 40px;
    font-size: 28px;
}

h2 {
    text-align: center;
}

.blog-contact {
    text-align: center;
}

#container-mobile {
    display: none;
}

/************************************************************************************************************************/
/**************************************************** Portfolio page ****************************************************/
/************************************************************************************************************************/

/* Main */

.container-portfolio {
    display: flex;
    flex-direction: column;
}

#section-valeurs {
    display: flex;
    margin-top: 80px;
    height: auto;
    margin-bottom: 0;
}

#section-portfolio {
    margin-bottom: 0;
    height: auto;
}

#section-portfolio-devis {
    height: auto;
}

.valeurs-content {
    width: 50%;
    height: 54%;
    position: absolute;
    left: 23%;
    top: 725px;
}

.valeurs-slogan {
    font-weight: bold;
}

.valeurs-slogan p {
    font-size: 32px;
    margin-top: 50px;
}

.psa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-psa {
    margin-top: 150px;
}

.portfolio-h3 {
    font-weight: bold;
    font-size: 64px;
    font-family: "bodoni mt";
}

.portfolio-p {
    font-weight: bold;
    font-size: 40px;
    font-family: "bodoni mt";
}

#section-portfolio-devis {
    text-align: center;
}

/* Mosaique */
.portfolio-mosaique {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.caroussel-image {
    width: calc(33.33% - 10px);
    overflow: hidden;
    position: relative;
    display: block;
    cursor: pointer;
    box-sizing: border-box;
}

.caroussel-image img {
    height: auto;
    width: 100%;
    display: block;
    transition: transform ease-in-out 0.5s;
}

.caroussel-image:hover {
    transform: scale(1.1);
}

.rotate {
    transform: rotate(90deg);
}

.rotate:hover {
    transform: rotate(90deg) scale(1.1);
}

.livre {
    width: 430px;
    height: auto;
}

/************************************************************************************************************************/
/***************************************************** Services page ****************************************************/
/************************************************************************************************************************/

/* Main */

.container-services {
    display: flex;
    flex-direction: column;
}
#section-pgservices {
    margin-top: 80px;
}

.section-packentreprise {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
}

.section-packentreprise-container {
    display: flex;
    height: 250px;
    border: 1px solid #a02c2c;
}

.section-packentreprise-content {
    border: 1px solid #a02c2c;
}

.section-packentreprise-h2 {
    width: 500px;
    margin-bottom: 20px;
}

.section-packentreprise li  {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.content-tab {
    margin-top: 20px;
}

.section-pgservices {
    height: 700px;
}

.section-pgservices p {
    height: auto;
}

.titre-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    background-color: #a02c2c;
    color: #fff;
    text-align: center;
    height: 50px;
    width: 250px;
    font-weight: bold;
}

.section-autres h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.section-autres p {
    height: 30px;
    margin-top: 0;
    text-align: center;
}

/************************************************************************************************************************/
/**************************************************** A Propos page *****************************************************/
/************************************************************************************************************************/

/* Main */
main .section-pgapropos {
    margin-top: 80px;
}

.section-pgapropos {
    height: 700px;
}

.section-pgapropos p {
    height: auto;
}

/************************************************************************************************************************/
/********************************************************* Blog *********************************************************/
/************************************************************************************************************************/

/* Main */

#main-blog {
    margin-top: 80px;
}
.section-pgblog p {
    display: flex;
    justify-content: center;
    align-items: center;
}

/************************************************************************************************************************/
/******************************************************** Contact *******************************************************/
/************************************************************************************************************************/

/* Main */

main .section-pgcontact {
    margin-top: 80px;
    /* border: 3px solid #fff; */
}

.section-pgcontact {
    height: 600px;
}

.section-pgcontact p {
    height: auto;
    text-align: center;
}

.container-pgcontact {
    border: #a02c2c solid 3px;
    width: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.titre-contact {
    font-weight: bold;
}

.titre-contact-bientot {
    margin-bottom: 20px;
}

.coordonnees {
    margin-top: auto;
}

/************************************************************************************************************************/
/******************************************************* Mentions *******************************************************/
/************************************************************************************************************************/

.section-pgmentions {
    height: auto;
    text-align: justify;
}

.section-pgmentions p {
    height: auto;
}

#main-mentions {
    margin-top: 80px;
}

/************************************************************************************************************************/
/******************************************************* Responsive *******************************************************/
/************************************************************************************************************************/

/* Styles desktop */ 
 @media (max-width: 1024px) {
    .header-nav {
        font-size: 13px;
    }
    .nav-list li {
        margin: 0;
    }
    .banner-slogan p {
        font-size: 30px;
        margin: 20px 90px;
    }
    .btn-banner {
        bottom: 150px;
        left: 350px;
    }
    .crop-container {
        margin-right: 0;
        width: 400px;
        height: 160px;
    }
    .footer-content {
        margin: 0 0 0 300px;
    }
    .footer-list li {
        margin: 0;
    }
    .caroussel {
        width: 700px;
        top: 0;
    }
    .valeurs-logo img {
        position: 0;
        bottom: 0;
        left: 0;
    }
    .psa-uc .btn-psa {
        margin-left: 5px;
        margin-right: 5px;
    }
    .valeurs-slogan p {
        font-size: 30px;
    }
    .caroussel-image img {
        width: 95%;
    }
    .section-pgapropos {
        height: 850px;
    }
}



/* Styles tablet */ 
/* @media (max-width: 769px) {
    #section-portfolio-home, 
    .btn-banner,
    .crop-container {
        display: none;
    }
    .banner-slogan p {
        font-size: 20px;
        margin: 30px 90px;
    }
    header {
        height: 70vh;
    }
    section {
        height: 250px;
        margin-bottom: 40px;
        padding: 0 50px;
    }
    #main-home {
        margin-top: 40px;
    }
    .btn-accueil {
        width: 200px;
        height: 50px;
        border-radius: 100px / 25px ;
        margin-top: 60px;
    }
    h2 {
        margin-top: 10px;
        font-size: 18px;
    }
    .container-btn-caroussel-portfolio {
        margin-top: 120px;
    }
    .footer-content {
        margin: 0 100px;
    }
    .valeurs-slogan p {
        font-size: 20px;
    }
    .livre {
        width: 240px;
    }
    .btn-devis {
        width: 200px;
        height: 49px;
    }
    .portfolio-h3 {
        font-size: 35px;
    }
    .portfolio-p {
        font-size: 25px;
    }
} */
/* **************************************************************************************** */
/* Styles mobile les téléphones */
/* **************************************************************************************** */
 @media (min-width: 414px) and (max-width: 768px) {
    #container-desktop {
    display: none;
    }
    #container-mobile {
    display: block;
    }
    header {
        height: 860px;
        margin-top: 25px;
    }
    .banner-content {
        width: 100%;
        height: 34%;
        top: 0;
    }
    /* Slogan redmi */
    .banner-slogan p {
        margin: 10px 50px;
    }
    .btn-banner {
        display: block;
        position: absolute;
        left: 50px;
        bottom: 200px;
    }
    main .section-pgapropos {
        text-align: center;
        margin-top: 0;
        height: auto;
    }
    .h5 {
        margin-top: 40px;
    }
    .container-btn-apropos {
        margin-bottom: 65px;
    }
    #section-valeurs {
        margin-top: 0;
    }
    .valeurs-content {
        width: 80%;
        height: 87%;
        position: absolute;
        left: 0;
        right: 0;
        top: 2150px;
        margin: auto;
    }
    .valeurs-logo {
        display: none;
    }
    .content-psa {
        margin-top: 20px;
    }
    .psa-uc {
        margin-top: 0;
        font-size: 32px;
        width: 333px;
        height: 83px;
        border-radius: 50% / 50%;
        margin-left: 65px;
        margin-right: 65px;
        cursor: inherit;
    }
    .valeurs-slogan p {
        margin-top: 180px;
        text-align: center;
        width: 229px;
        font-size: 20px;
    }
    .portfolio-mosaique {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .portfolio-p {
        margin: auto;
        width: 229px;
        font-size: 20px;
    }
    .btn-devis {
        margin-bottom: 40px;
        margin-top: 30px;
        font-size: 16px;
    }
    .container-services {
        text-align: center;
    }
    .section-packentreprise-container {
        width: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-bottom: 35px;
    }
    .titre-tab {
        width: 300px;
    }
    .content-tab {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .autres-services {
        margin-bottom: 5px;
    }
    .btn-services {
        margin-top: 30px;
    }
    main .section-pgcontact {
        margin-top: 0;
        height: auto;
    }
    #contact {
        font-size: 35px;
    }
    .container-pgcontact {
        width: 300px;
    }
    .btn-contact {
        margin-top: 25px;
        margin-bottom: 40px;
    }
    .btn-mentions {
        margin-bottom: 25px;
    }
    .section-pgblog {
        height: 300px;
    }
    footer {
        height: 20vh;
        justify-content: center;
    }
    /* .footer-content {
        margin-left: 17%;
    } */
    .footer-list {
        flex-direction: column;
        margin-bottom: 5px;
    }
    .reseaux {
        margin-top: 20px;
    }
    .tiktok,
    .instagram,
    .linkedin {
        display: inline-block;
    }
    .infos-entreprise {
        text-align: center;
        font-size: 15px;
        /* width: 250px; */
    }
    h2 {
        font-family: "bodoni";
        text-align: center;
        font-size: 40px;
        margin-top: 25px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 1.17em;
    }
    h5 {
        font-size: 28px;
    }

 }
/* **************************************************************************************** */
 /* Styles mobiles paysage */
/* **************************************************************************************** */

@media (min-width: 769px) and (max-width: 940px){
    /* #section-portfolio-home, 
    .btn-banner,
    .crop-container {
        display: none;
    } */
    /* #container-desktop {
        display: block;
    } */
    #container-mobile {
        display: none;
    }
    .banner-slogan p {
        font-size: 20px;
        margin: 30px 90px;
    }
    header {
        height: 90vh;
    }
    section {
        height: 250px;
        margin-bottom: 40px;
        padding: 0 50px;
    }
    #main-home {
        margin-top: 40px;
    }
    .btn-accueil {
        width: 200px;
        height: 50px;
        border-radius: 100px / 25px ;
        margin-top: 60px;
    }
    h2 {
        margin-top: 10px;
        font-size: 18px;
    }
    .container-btn-caroussel-portfolio {
        margin-top: 120px;
    }
    .footer-content {
        margin: 0 100px;
    }
    .valeurs-slogan p {
        font-size: 20px;
    }
    .livre {
        width: 240px;
    }
    .btn-devis {
        width: 200px;
        height: 49px;
    }
    .portfolio-h3 {
        font-size: 35px;
    }
    .portfolio-p {
        font-size: 25px;
    }
}
 